body {
    font-family: 'Courier New', Courier, monospace;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    margin: 0;
}

/* navigation styling */
nav {
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 9px 0px rgba(52,50,115,0.25);

}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    text-align: center;
    text-align: justify;
    padding-right: 25px;

    
    
}

nav a:hover {
    color: rgb(0, 216, 205);  
    font-weight: bolder;
}

.logo {

    font-size: 32px;
    text-decoration: line-through;
    text-decoration-thickness: 2px;

    color: whitesmoke;
    position: absolute;
    left: 10px;

}


/* container for headshot */
.headshot-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.headshot {
    width: 270px;
    height: 270px;
    border-radius: 100%;
    box-shadow: 0px 10px 35px 0px rgba(52,50,115,0.32);
}

/* repetable styling contained in a class */
.base-content-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    padding-top: 100px;
}

.base-content-styles div {
    width: 55%;
}

/* styling for our intro blurb */
.intro-blurb {
    display: flex;
    justify-content: center;
    /* font-weight: bold;
    font-size: 20px; */
    padding-top: 10px;
}

.intro a {
    text-decoration: lightslategray;
    text-decoration-style: none;
    font-weight: bold;
    color: rgb(11, 153, 146);
}

.intro a:hover {
    color: rgb(0, 95, 90);
}


.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}

.intro div {
    width: 55%;
}

.intro p {
    text-justify: distribute;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

/* About seciton styling */

.about div {
    width: 55%;
}

.about h2 {
    font-size: 44px;
    text-align: center;
}

.about p {
    text-justify: distribute;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

}

/* Contact seciton styling */
.contact h2 {
    font-size: 44px;
    text-align: center;
}

.contact iframe {
    box-shadow: 0px 10px 35px 0px rgba(52,50,115,0.32);
}

.contact a {
    text-decoration: lightslategray;
    text-decoration-style: none;
    font-weight: bold;
    color: rgb(11, 153, 146);
}

.contact a:hover {
    color: rgb(0, 95, 90);
}

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 100%;
    height: 66px;
    margin-top: 200px;
    
    position: relative;

}